.cropped-image {
    width: 190px; /* ปรับขนาดของรูปภาพตามที่ต้องการ */
    height: 392.66px; /* ปรับขนาดของรูปภาพตามที่ต้องการ */
    border-radius: 10px; /* เพิ่มขอบมนเข้าไป */
    border: 2px solid black; /* เพิ่มเส้นขอบสีดำ */
    margin-left: 100px;
    margin-top: 50px;
    position: relative; /* เพิ่ม position เพื่อให้สามารถใช้ position:absolute ได้ */
  }
  
  .btn-details {
    padding: 15px;
    background-color: #3EBB1F;
    color: white;
    font-size: medium;
    border-style: none;
    border-radius: 15rem;
    box-shadow: 10px 10px 36px -10px rgba(0,0,0,0.75);
    outline: none;
    position: absolute; /* ให้ปุ่มอยู่ในโหมด absolute */
    top: 20; /* จุดเริ่มต้นจากขอบบนของ .cropped-image */
    right: 0; /* ปรับตำแหน่งให้ชิดขอบขวาของ .cropped-image */
  }
  .btn-details:active {
    background-color: #35C290;
  }
  